fastapi
python-multipart
uvicorn
pydantic
pytest
pytest-cov
python-dotenv
numpy
opencv-python-headless
tqdm
pyyaml
pillow
setuptools<82
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.10.0+cpu
torchaudio==2.10.0+cpu
torchvision==0.25.0+cpu
imagebind @ git+https://github.com/facebookresearch/ImageBind.git@53680b02d7e37b19b124fa37bae4b6c98c38f5be
pytorchvideo @ git+https://github.com/facebookresearch/pytorchvideo.git@6cdc929315aab1b5674b6dcf73b16ec99147735f